body{
    font: normal 15pt Arial;
background-color: rgb(60, 105, 230);

}
header{

    text-align: center;
    color: aliceblue;
}

section{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.616);


}

footer{
    text-align: center;
    color: white;


}

div {
    text-align: center;
    padding: 8px;
}